
/* Universal Selectors */
#root, body, html {
	height:100%;
	background-color: white;
  }
  
  body {
    overflow-y: scroll;
  }

  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;1,400;1,500;1,600&family=Source+Sans+Pro:wght@600&display=swap');
  h1 { 
      font-size: 2.5em;
	  font-family: 'Playfair Display', serif;
	}

	h2 {
		display: block;
		font-size: 1.5em;
		margin-top: 0.83em;
		margin-bottom: 0.83em;
		margin-left: 0;
		margin-right: 0;
		font-weight: bold;
	  }

	h3 {
		display: block;
		font-size: 1em;
		font-size: 1.17em;
		margin-bottom: 1.33em;
		font-weight: bold;
	  }
	
	  h4 {
		display: block;
		font-size: 1em;
		margin-top: 1.33em;
		margin-bottom: 1.33em;
		margin-left: 0;
		margin-right: 0;
		font-weight: bold;
	  }

	  h5 {
		display: block;
		font-size: .83em;
		margin-top: 1.67em;
		margin-bottom: 1.67em;
		margin-left: 0;
		margin-right: 0;
		font-weight: bold;
	  }

  a, abbr, acronym, address, applet, article, aside, audio, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, mark, menu, nav, object, output, pre, q, ruby, s, samp, section, select, small, strike, strong, sub, summary, sup,  tfoot, th, thead, time, tt, u, ul, var, video {
    margin:0;
    padding:0;
    border:0;
    font:inherit;
    vertical-align: baseline;
  } 
  
  a, a:visited {
    text-decoration: none;
  }
  a:active, .btn:active {
    opacity:.5;
  }
  
  
  body, input, select {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size:14px;
    line-height:18px;
  }
  
/*** Footer ***/
.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #ECECEC;
	color: black;
	text-align: center;
	box-shadow: 1px 1px 15px grey;
}

footer {
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;
}

/*** Header ***/
.header {
	overflow: hidden;
	background-color: black;
/*	background-color: #43836d;*/
	padding: 3px 50px;
	box-shadow: 1px 1px 15px grey;
  }

header {
	position: fixed;
	top: 0;
	left: 0; 
	right: 0;
	z-index: 2;
}

/* Style the header links */
.header h1 {
	float: left;
	color:white;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	line-height: 1px;
	border-radius: 4px;
	font-family: 'Playfair Display', serif;
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header h1.logo {
	font-size: 30px;
	font-weight: bold;
  }
  
  
/* Float the link section to the right */
.header-right {
	float: right;
  }
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 500px) {
	.header h1 {
	  float: none;
	  display: block;
	  text-align: left;
	}
	.header-right {
	  float: none;
	}

	.overlay a {font-size: 20px}
	.overlay .closebtn {
	font-size: 40px;
	top: 15px;
	right: 35px;
	}
  }

  .header2{
	background-color: #ECECEC;
	position: fixed;
	top: 70px;
	left: 0; 
	right: 0;
	padding: 0;
	box-shadow: 1px 1px 15px grey;
	z-index: 3;
  }

  .header-menu, .header-menu_1{
	font-size: 1.3em;
	float: left;
	cursor: pointer;
	padding: 14px;
	margin: 6px 0;
	color: black;
	font-weight: 500;
  }

  .header-menu_1{
	margin-left: 47px;
	color: black;
  }


/******** ZAEHLER ********/
span {cursor:pointer; }
.number{
	margin:40px 60px;
}

.minus, .plus{
	width:20px;
	height:20px;
	background:#f2f2f2;
	border-radius:4px;
	padding:8px 5px 8px 5px;
	border:1px solid #ddd;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}

input.zaehler {
	height:34px;
	width: 100px;
	text-align: center;
	font-size: 26px;
	border:1px solid #ddd;
	border-radius:4px;
	display: inline-block;
	vertical-align: middle;
}	


/******* Overlay Navigation ********/
.overlay {
	height: 100%;
	width: 0;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0, 0.9);
	overflow-x: hidden;
	transition: 0.5s;
	z-index: 20;
  }
  
  .overlay-content {
	position: relative;
	top: 25%;
	width: 100%;
	text-align: center;
	margin-top: 30px;
  }
  
  .overlay a {
	padding: 8px;
	text-decoration: none;
	font-size: 36px;
	color: #818181;
	display: block;
	transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
	color: #f1f1f1;
  }
  
  .overlay .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
  }
  /*
  @media screen and (max-height: 450px) {
	.overlay a {font-size: 20px}
	.overlay .closebtn {
	font-size: 40px;
	top: 15px;
	right: 35px;
	}
  }*/

  .scal{
	float: right;
	cursor: pointer;
	padding: 14px;
	margin: 6px 0px;
	margin-right: 25px;
  }


  /****** OVERLAY POP-UP BENACHRICHTIGUNG ********/
  #overlay2 {
	position: fixed; /* Sit on top of the page content */
	display: none; /* Hidden by default */
	width: 100%; /* Full width (cover the whole page) */
	height: 100%; /* Full height (cover the whole page) */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5); /* Black background with opacity */
	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
	cursor: pointer; /* Add a pointer on hover */
  }

  .button{
	width: 150px;
	padding: 10px;
	background-color: #ffffff;
	box-shadow: -8px 8px 10px 3px rgba(0,0,0,0.2);
	font-weight:bold;
	text-decoration:none;
  }

  #cover{
	position:fixed;
	top:0;
	left:0;
	background:rgba(0,0,0,0.6);
	z-index:5;
	width:100%;
	height:100%;
	display:none;
  }

  #Screen{
	height:200px;
	width:330px;
	margin:0 auto ;
	position:relative;
	z-index:10;
	display:none;
	border:5px solid #ffffff;
	border-radius:10px;
	background-color: #ffffff;
  }

  #Screen:target, #Screen:target + #cover{
	display:block;
	opacity:2;
  }
/*
  .cancel{
	display:block;
	position:absolute;
	top:3px;
	right:2px;
	color:black;
	height:30px;
	widows: 25px;px;
	font-size:35px;
	text-decoration:none;
	text-align:center;
	font-weight:bold;
  }*/

 .speichern {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size:14px;
	line-height:18px;
	float: right;
	display:block;
	position:absolute;
	top:160px;
	right:10px;
	color:black;
	height:30px;
	widows: 25px;
	font-size:15px;
	text-decoration:none;
	text-align:center;
  }


.grafik{
	object-fit: cover; 
	width: 100%; 
	box-shadow: 2px 2px 10px grey;
	margin: 130px 0 -24px 0;
}

.grafik1{
	object-fit: cover; 
	width: 100%;
	margin-top: -3px;
	box-shadow: 2px 2px 10px grey;
}

.grafik_video{
	object-fit: cover; 
	width: 100%;
	margin-top: 130px;
}


.link{
	height: 150px;
	width: auto;
	object-fit: cover;
	
}

.überschrift1{
	margin-left: 60px;
	text-decoration: underline;
	font-size: 2em;
	margin-bottom: 40px;
}

.überschrift2{
	margin-left: 60px;
	text-decoration: underline;
	margin-bottom: 40px;
}

.übungen_grafik{
	object-fit: cover; 
	width: 350px;
}

.übungen{
	margin-left: 60px;
	margin-bottom: 50px;
}
/*-----------------------Seiten-Übungen---------------------------------*/

.text{
	margin-left: 30px;
	margin-right: 30px;
	border-bottom: 2px solid black;
}

.tabelle{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
	font-weight: bold;
	line-height: 40px;

}


.tabelle_überschrift{
	margin-left: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
	font-weight: bold;
	line-height: 40px;
	margin-bottom: 25px;
	border-bottom: 1px dashed black;
	margin-right: 60px;


}

.tabelle_text1{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	line-height: 25px;
	margin-bottom: 25px;
	margin-right: 30px;
}

.quelle{
	margin: 30px 30px 10px 60px;
	font-family: Arial, Helvetica, sans-serif;
	border-bottom: 1px solid black;
}

.bilder_übung{
	object-fit: cover; 
	width: 300px;
	height: 300px;
}

.abstand{
	margin-top: 20px;
	margin-left: 60px;
}

.übung-titel{
	padding: 10px 0px 10px 0px;
	background-color: #F18B99;
	padding-left: 60px;
}

/*https://stackoverflow.com/questions/10405945/html-ordered-list-1-1-1-2-nested-counters-and-scope-not-working*/

ol.tabelle_text1, ol.tabelle, ol.tabelle_text {
	counter-reset: item ;
}

ol.tabelle, ol.tabelle_text1{
	list-style-type: decimal;
}

li {
	display: block
}

li.tabelle_überschrift::before, li.tab::before {
	content: counters(item, ".") " ";
	counter-increment: item 
}


/*-----------Soforthilfe.html---------------*/
.überschrift_soforthilfe{
	line-height: normal;
	margin-left: 60px;
	font-family: Arial, Helvetica, sans-serif;
}

.telefonseelsorge{
	margin-top: 40px;;
	margin-left: 60px;
	line-height: normal;
}

.unterüberschrift{
	margin-left: 60px;
	font-size: 15px;
	line-height: normal;
}

.stichpunkte{
	margin-top: 20px;
	margin-left: 100px;
	line-height: normal;
	font-size: 15px;
}

.kontakt{
	margin-left: 60px;
	font-size: 17px;
	line-height: normal;
}

.info{
	margin-left: 60px;
	line-height: normal;
	font-size: 15px;
}

.polizei{
	margin-left: 60px;
	line-height: normal;
	margin-bottom: 80px;
}

.polizei_text{
	font-size: 15px;
}

.support{
	margin-left: 60px;
	border: 1px solid black;
	padding: 20px;
	margin-right: 60px;
}

legend.legend1{
	font-size: 25px;
	float: left;
	text-decoration: underline;
}

legend.legend2{
	font-size: 25px;
	float: left;
	text-decoration: underline;
	margin-top: 40px;
	margin-bottom: 20px;
}


.input1{
	float:left;
	display: block;
	margin-top: 18px;
}

input.inp{
	width: 60%;
	float:left;
	display: block;
	margin-top: 8px;
}

label{
	width: 60%;
	float:left;
	display: block;
	margin-top: 15px;
	font-size: 17px;
}


.fieldset_one{
	margin-top: 40px;
}

ul{
	float:left;
	display: block;
}

.kommentarbox{
	float:left;
	display: block;
	margin-top: 20px;
	font-size: 17px;
	
}


.formular_text{
	float:left;
	display: block;
	margin-bottom: 30px;
}

.formular{
	float:left;
	display: block;
	margin-bottom: 30px;
	font-size: 15px;
	font-weight: bolder;
	padding:10px;
}

.fieldset2{
	float:left;
	display: block;
}

.input_einstellungen{
	margin-left: 60px;
	size: 20px;
}

.label_einstellungen{
	font-size: 20px;
}
 
.stoppuhr{
	margin-bottom: 20px;
}

/***** BEFRAGUNG *****/
.befragung{
	margin:40px 60px;
}

/* --------- https://werner-zenk.de/css/sternebewertung.php ------- */

/***** Sternebewertung *****/
   
   p.sternebewertung {
	float: Left;
	margin-top: -20px;
   }
   
   
   p.sternebewertung:not(:checked) > input {
	display: None;
   }
   
   p.sternebewertung:not(:checked) > label {
	float: Right;
	width: 1em;
	padding: 0 .1em;
	overflow: Hidden;
	white-space: Nowrap;
	cursor: Pointer;
	font-size: 200%;
	line-height: 1.2;
	color: #ffffff;
	text-shadow: 1px 1px #B0B0B0, 2px 2px #606060, .1em .1em .2em rgba(0,0,0,.5);
	transition: all .5s;
   }
   
   p.sternebewertung:not(:checked) > label::before {
/*	content: '★ ';*/
	content: '☺ ';
   }
   
   p.sternebewertung > input:checked ~ label {
	color: #FFD700;
	text-shadow: 1px 1px #C06000, 2px 2px #904000, .1em .1em .2em rgba(0,0,0,.5);
	animation: twinkle 1s ease-in-out infinite alternate;
   }
   
   p.sternebewertung:not(:checked) > label:hover,
   p.sternebewertung:not(:checked) > label:hover ~ label {
	color: #FECF41;
	text-shadow: 1px 1px #F29E02, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
   }
   
   p.sternebewertung > input:checked + label:hover,
   p.sternebewertung > input:checked + label:hover ~ label,
   p.sternebewertung > input:checked ~ label:hover,
   p.sternebewertung > input:checked ~ label:hover ~ label,
   p.sternebewertung > label:hover ~ input:checked ~ label {
	color: #FBB600;
	text-shadow: 1px 1px #F8BA01, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
   }
   
   @keyframes twinkle {
	to {
	 text-shadow: 1px 1px #FFE653, 2px 2px #FFF5BF, .1em .1em .2em rgba(0,0,0,.5);
	}
   }

   /*** Accordeon Panel ****/

   summary{
	font-size: 1.5em;
	font-weight: bold;
	text-align:center;
   }

   details{
	margin:40px 60px;
	border: 1px solid black;
   }

   .p{
	text-align:center;
   }


   /*--------------Dropdown https://www.w3schools.com/css/css_dropdowns.asp--------------------*/

   .dropdown {
	display: inline-block;
  }
  
  .dropdown_content {
	display: none;
	position: absolute;
	background-color:  #ECECEC;
	min-width: 200px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 12px 16px;
	margin-top: 51px;
  }

   .dropdown:hover .dropdown_content {
	display: block;
  }

  .header-menu:hover, .header-menu_1:hover{
	background-color: grey;
  }

  .dropdown_text, .dropdown_text_nichts{
	color:grey;
  }

  .dropdown_text_übung{
	color: grey;
	margin-left: 30px;
  }

  .dropdown_text_übung:hover, .dropdown_text:hover{
	  color: black;
	  font-weight: 500;
  }


/*---------Kontoeinstellungen--------------------*/

.kontoeinstellungen{
	margin-top: 130px;
	background-color: #FBE2AB;
	padding: 20px 0 20px 60px;
	font-weight: 400;
}

.sicherheit{
	margin-top: 130px;
	background-color: #71C8C2;
	padding: 20px 0 20px 60px;
	font-weight: 400;
}


.allgemein{
	margin: 30px 60px 0 60px;
	border-bottom: 1px solid rgb(192, 192, 192);
}

.allgemein_p{
	margin: 30px 60px 0 60px;
}

.account_löschen{
	margin-left: 60px;
}

.allgemein_input, .allgemein_input_2{
	position: absolute;
	left: 300px;
	width: 400px;
}

.überschrift_acc{
	margin-top: 60px;
}

.allgemein_text{
	margin-bottom: 50px;
}

.button_acc{
	font-size: 12px;
	font-weight: 550;
	padding: 7px ;
	background-color: #4B5E65;
	color: white;
}

/*---------------Sicherheitseinstellungen------------------------------------------*/

.passwort_neu{
	margin-left: 60px;
	margin-top: 30px;
	line-height: 10px;
}

input.inp_pass{
	margin-top: 10px;
	width: 40%;
	height: 25px;
	box-shadow: 1px 1px 3px #606060;
}

.pass_stärke{
	margin-left: 60px;
	margin-top: 50px;
	line-height: normal;
}

.stärke_text{
	margin-top:-12px;
}

.pass_ändern{
	margin: 30px 0 0 60px;
	color: white;
	background-color: #4B5E65;
	padding: 5px;
	font-weight: 550;
}

/*-------------------------------------Slide = https://www.w3schools.com/howto/howto_js_slideshow.asp--------------------------------------------------*/


.mySlides {
	display: block;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto; 
 
}

.slide_images{
	display: flex;
	justify-content: center;
	align-items: center;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: grey;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color:#4B5E65;
}


.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot1 {
	cursor: pointer;
	height: 10px;
	width: 10px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.dot2 {
	cursor: pointer;
	height: 10px;
	width: 10px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.dot3 {
	cursor: pointer;
	height: 10px;
	width: 10px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.dot4 {
	cursor: pointer;
	height: 10px;
	width: 10px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #4B5E65;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .2} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .2} 
  to {opacity: 1}
}



.apps_allgemein{
	margin-top: 100px;
}

.kostenlose{
	margin-top: 50px;
}

.button_wasser{
	text-align: center;
	font-size: 11px;
}

.tabelle_wasser{
	margin-bottom: 10px;
}

/*
.logos_box{
	display: block;
	text-align:center;
}
*/
.logo_lernen{
	width: 250px;
	border: 1px solid black;

}

.logos_box{
	margin: 60px 60px 0 60px;
	text-align: center;
}

figure.logos_div {
	float: left;
	width: 25%;
  }

.logo_text{
	font-size: 15px;
}



/*------------------------------------Karteikarte, Dokumente--------------------------------------------------*/

label.überschrift_privat{
	border-bottom: 1px solid black;
	width: 1100px;
	margin: 60px 0 10px 62px;
	font-size: 20px;
}

label.überschrift_öffentlich{
	border-bottom: 1px solid black;
	width: 1100px;
	margin: 60px 0 10px 62px;
	font-size: 20px;
}

.hochladen{
	float: right;
}

.dateiListe, .dateiListe1{
	margin: 0 0 0 61px;
	font-size: 15px;
}


/*-------------------Kalender-------------------------------*/
.calendar_link {
	font-family: Arial;
	font-size: 18px;
	text-align: center;
	color: #000000;
	text-decoration: none;
}

.calendar_head {
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	width: 25px;
}

.calendar_head_month {
	font-family: Arial;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	width: 25px;
	background-color: #385e38;
	color: #FFFFFF;
}

.calendar_day {
	font-family: Arial;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	width: 25px;
	color: #FFFFFF;
	background-color: #7cc488;
}

.calendar_entry {
	font-family: Arial;
	font-size: 18px;
	text-align: center;
}

.calendar{
	margin: 62px 0 0 62px;
	width: 1155px;
	height: 700px;
}

#myform{
	margin: 20px 0 0 62px;
}

#datum{
	height: 50px;
}
